@media (max-width:769px){
    .hello,#sc,#js{
        display: flex;
        flex-direction: column;
    }
    #bd,#th{
        display: flex;
        flex-direction: column-reverse;
    }
    #tsi,#psi,#pri{
        width: 60vw !important;
    }
    #hed{
        margin-top: 14vh !important;
    }
    img{
        margin-bottom: 5vh;
    }
}

#hed{
    color: white;
    display: flex;
    align-items: center;
    text-align: center;
    margin: 7vh 0 0 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: color 0.2s;
}
#hed:hover{
    color: rgb(8, 113, 250);

}
#tsi{
    width: 25vw;
}
#tsr{
    width: 60vw;
}
#tsh:hover{
    font-size: 32px;
}
#tsc {
    margin-top:25px ;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    font-size: 24px; 
    font-weight:bold ;
}
#js{
    width: 90vw;
}
#bd,#js,#th,#sc{
    width: 90vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 7vh 0 0 7vw;
}
#psi{
    width: 25vw;
}
#psr{
    width: 60vw;
}
#psh,#tsh{
    text-align: center;
    color: rgb(8, 113, 250);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 28px;
    font-weight: bold;
    transition: font-size 0.25s;
}
#psh:hover{
    font-size: 32px;
}
.proji{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
}
.wrapp{
    width: 60vw;
}
#pri{
    width: 25vw;
}
.wrapp li a:hover{
    color:rgb(8, 113, 250) !important ;
}

.endpj{
    font-family: "Anta", sans-serif;
    font-size: 40px;
    font-weight: bold;
    height: 30%;
    width: 100%;
    color: white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: color 0.2s;
}
.endpj p:hover{
    color:rgb(8, 113, 250); 
    cursor: pointer;
}
.ms{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hello{
    display: flex;
    justify-content: space-around;
    width: 100vw;
    align-items: center;
    margin: 7vh 0;
}