@media (max-width:769px){
    .ts,.ss{
        flex-direction: column;
    }
    
    .ps,.rs{
        flex-direction: column-reverse;
    }
    #tsi,#psi,#ssi{
        width: 60vw !important;
        margin-bottom: 4vh;
    }
    #tsr,#psr,#ssr{
        width: 75vw !important;
    }
    #tsh,#psh,#ssh{
        width: 75vw !important;
    }

}
    
#tsi,#psi,#ssi{
    width: 25vw;
}
#tsr,#psr,#ssr{
    width: 60vw;
    justify-content: center;
    align-items: center;
    padding-right: 4vw;
}
#tsh,#psh,#ssh{
    color: rgb(8, 113, 250);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 28px;
    font-weight: bold;
    transition: font-size 0.25s;
    width: 60vw;
    text-align: center;
}
#tsh:hover{
    font-size: 32px;
}
#tsc li b,#ssc li b{
    transition: color 0.15s,font-size 0.15s;
}
#tsc li b:hover,#ssc li b:hover{
    color: rgb(8,113,250);
    font-size: 28px;
}
.ts,.ps,.ss,.rs{
    margin-top: 18vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pg{
    display: flex;
    flex-direction: column;
}

#psh:hover{
    font-size: 32px;
}


#ssh:hover{
    font-size: 32px;
}

.ends{
    font-family: "Anta", sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: color 0.2s;
}
.ends p:hover{
    color:rgb(8, 113, 250); 
    cursor: pointer;
}